<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="col-md-8">
        <h3>Change email or password</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :login %><br />
            <%= f.text_field :login, class: 'form-control', placeholder: "Enter email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update" %>
          </div>
        <% end %>

        <!-- 
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        -->

<%= link_to "Back", :back %>
