<br>
<div class="jumbotron">
  <h1>Security Scorecard Intranet</h1>
  <p>This is the home page for Security Scorecard's Intranet</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
  </p>
</div>