<div class="col-md-8">
	<!-- changed form_for [@topic, @post] to local variables for partial -->
	<%= form_for [topic, post] do |f| %>
		<% if post.errors.any? %>
			<div class="alert alert-danger">
				<h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
				<ul>
					<% post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<%= form_group_tag(post.errors[:title]) do %>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control', placeholder: 'Enter post title' %>
		<% end %>
		<%= form_group_tag(post.errors[:body]) do %>
			<%= f.label :body %>
			<%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter post body' %>
		<% end %>

		<div>
			<%= f.label :title %>
			<%= f.select :title, options_for_select(["Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other", "Select One", "Cell", "Work", "Office", "Home", "Other"]) %>

			<select name="mycountry">
    <option value="Afghanistan">Afghanistan</option>
    <option value="Afrique du Sud">Afrique du Sud</option>
    <option value="Albanie">Albanie</option>
    <option value="Algérie">Algérie</option>
    <option value="Allemagne">Allemagne</option>
    <option value="Andorre">Andorre</option>
    <option value="Angola">Angola</option>
    <option value="Antigua et Barbuda">Antigua et Barbuda</option>
    <option value="Arabie saoudite">Arabie saoudite</option>
    <option value="Argentine">Argentine</option>
    <option value="Arménie">Arménie</option>
    <option value="Australie">Australie</option>
    <option value="Autriche">Autriche</option>
    <option value="Azerbaïdjan">Azerbaïdjan</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
    <option value="Hors Canada">Hors Canada</option>
</select>
		</div>
		<div class="form-group">
			<%= f.submit "Save", class: 'btn btn-success' %>
		</div>
	<% end %>
</div>

