<h1>Edit Post</h1>

<div class="row">
	<div class="col-md-4">
		<p>Guidelines for posts</p>
		<ul>
			<li>Only submit posts that are revelant</li>
			<li>Limit to 5 a day</li>
		</ul>
	</div>

	<%= render partial: 'form', locals: {topic: @topic, post: @post} %>
</div>