<!DOCTYPE html>
<html>
<head>
  <title>Intranet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
      <li><%= current_user.present? && current_user.role == 'admin' ? (link_to 'Admin', dashboard_path) : nil %></li>
			<li><%= link_to "SS Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>

      <div class="pull-right user-info">
        <% if current_user %>
        Hello <%= link_to current_user.login, edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
		</ul>

		<% if flash[:notice] %>
        	<div class="alert alert-success">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
           		<%= flash[:notice] %>
         	</div>
       	<% elsif flash[:error] %>
         	<div class="alert alert-danger">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
           		<%= flash[:error] %>
         	</div>
       	<% elsif flash[:alert] %>
     		<div class="alert alert-warning">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
           		<%= flash[:alert] %>
         	</div>
       	<% end %>

	<%= yield %>
	</div>

</body>
</html>
